<div class="backdrop" @fade *ngIf="!!image" (click)="image = undefined"></div>
<div class="container" @fade *ngIf="!!image">
    <img [src]="image.data">
</div>

<div class="toolbar" @fade *ngIf="!!image">
    <div class="name">{{image.name}} ({{image.id}})</div>
    <div class="wrapper">
        <button (click)="deleteImage()">Delete</button>
    </div>
</div>