.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    z-index: 1000;

    background: rgba(#000, 0.8);
}

.container {
    position: fixed;
    top: 36px;
    left: 36px;
    right: 36px;
    bottom: 200px;

    z-index: 1001;
    pointer-events: none;

    display: flex;
    justify-content: center;
    align-items: center;

    >img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
    }
}

.toolbar {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 200px;
    z-index: 1002;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    pointer-events: none;

    >.name {
        margin-top: 18px;
        margin-bottom: 18px;
        color: rgba(#fff, 0.5);
    }

    >.wrapper {
        pointer-events: all;
        background: rgba(#fff, 0.5);
        border-radius: 2px;
        
        >button {
            pointer-events: all;
            background: none;
            border: none;
            padding: 10px 30px;
            margin: 20px;
            font-family: inherit;
            color: rgba(#000, 0.5);
            font-size: 1.5em;
            outline: none;
    
            &:hover {
                cursor: pointer;
                color: rgba(#000, 0.9);
            }
        }
    }

}