<app-image-card @item *ngFor="let image of images" [image]="image"></app-image-card>
<div class="add-image" (click)="showUploadModal()">
  <label for="file-select">+</label>
</div>

<input #fileSelect type="file" id="file-select" accept=".png, .jpg, .jpeg" (input)="fileSelected()" multiple>