:host {
    padding: 36px;

    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fill, 216px);
    grid-template-rows: repeat(auto-fill, 216px);

    >.add-image {
        width: 207px;
        height: 207px;

        display: flex;
        justify-content: center;
        align-items: center;

        >label {
            font-weight: bold;
            font-size: 92px;
            user-select: none;
            opacity: 0.2;

            &:hover {
                cursor: pointer;
                opacity: 0.9;
            }
        }
    }
}


input {
    width: 0;
    height: 0;
    visibility: hidden;
}