:host {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

nav {
    height: 160px;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    padding: 0 36px;

    >.brand {
        font-weight: normal;
        font-size: 64px;

        opacity: 0.85;
    }
}

.gallery {
    flex: 1;
}