:host {
    padding: 7px;
    background: #fff;
    border: 1px solid #999;
    border-radius: 2px;
    user-select: none;

    &:hover {
        cursor: pointer;
    }
}

img {
    width: 200px;
    height: 200px;

    object-fit: contain;
    -webkit-user-drag: none;
}