:host {
    position: fixed;
    top: 0;
    right: 36px;
    left: 0;
    height: 160px;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.toast {
    min-height: 30px;
    min-width: 60px;
    margin: 5px;
    border: 1px solid #999;
    border-radius: 2px;
    background: #fff;
    padding: 10px;
}