/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700');

html {
    font-family: "Roboto Slab", serif;
}

body {
    margin: 0;
    padding: 0;
    background: #f0ece8;
}

button {
    user-select: none;
}